<body class="blsbody" background-image:"11.jpg">
		<div class ="titin" style="text-align: 90px">
		<p>
			<h1 style=" font-size: 80px;">Basic life support</h1>
		</p>
	</div>
		<div class="steps">
			<div class="boxes">
				<div class="box1">
					<div class ="arb"> <p>
						you will find the patient laying on the
						<br>
						ground
						<br>
						first appriach the patient safetly
						<br>
						then shake him to make sure that he really
						<br>
						fainted
						<br>
						after making sure shout for help
						<br>
						and make someone deliver the ambulance
						<br>
						examine his breathing by
						<br>
						Look, listen & feel
						<br>
						Look >>> chest elevation
						<br>
						Listen >>> sound of breathing
						<br>
						Feel >>> the air on your cheeks
					</p>
					<img class="img1" <%= image_tag("1.png", :alt => "Look, listen & feel") %> >
				</div>
				<p class= "eng">
					<p>
						Maintain a patent airway , by
						<br>
					</p>
					<p>
						1 ) Head-tilt chin-lift >>> in case of no cervical spine injury
						<br>2 ) Jaw thrust >>> if you suspect a cervical spine injury
						<br>3 ) Oropharyngeal tube
					</p>

					<center> <div><p>
						Head-tilt chin-lift
					</p>
					<img <%= image_tag("2.jpg", :alt => "head-tilt chin lift") %> >
					<p>
						<p>
							With one hand on the top of the head and two fingers under the <br>chin, tilt the head back and lift the chin into the air. <br>This should reduce noisy breathing, making chest movements <br>better.
							<br> Pulling the mandible above
							<br> <img <%= image_tag("3.jpg", :alt => "Pulling the mandible above") %> >

						</p>
						<p>
							<br>then do
							<br> Look, listen & feel
							make sure that the <br>
							Airway is open
						</p>

					</div></center>


				</div>
				<div class="box22">
					<center>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/l-8iYYmIPfQ?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</center>
					</div>
					<div class="box1">
						<center>
							<div>
								<p>
									<br>in case we didn't find any breathing we should
									<br> open the airway    <br>
									we will make sure by checking the pulse
									<br>
									<br> 
									<%= image_tag("4.jpg", :alt => "carotid pulse") %> 
									<br>then we perform
									<br>Mouth to mouth breathing
									<br>first close the nose holes then blow the air into the lungs
								</p>
								<%= image_tag("5.jpg", :alt => "Mouth to mouth breathing") %> 
								<p>
									Perform head-tilt chin-lift ( or jaw thurst in case of cervical spine injury ) to
									<br>
									maintain a patent airway
								</p>
							</div>
						</center>
					</div>
					<div class="box22">
						<center>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/RZncvFzeeG0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							<p>
								jaw thurst
							</p>
						</center>
					</div>
					<div class="box22">
						<center>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/MUz0WYSk33k" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
							<p>
								Oropharyngeal tubes
							</p>
						</center>
					</div>
					<div class="box1">
						<center>
							<div>
								<p>
									be carefull the mouth being very open isn't amust
									<br>
									but
									<br>
									Airway must be open
									<br>

									put your mouth fully around the patent's
									mouth hole
									<br>
									make sure that air doesn't leak
									<br>
									blow air into his mouth and notice his chest elevation
									<br>
									<%= image_tag("7.jpg", :alt => "mouth to mouth breathing") %> 
									<br>
									take your breath
									<br>
									then breath into his mouth again
									<br>
									next perform
									<br>
									Cardiac compression
									<br>
									<%= image_tag("10.jpg", :alt => "cardic compression") %> 
									<br>
									press right in the

									Point of intersection<br> between the midline of the body & the internipplar line
									On the sternum

									<br>
									your back should be straight and your arms should be free
									<br>
									press as hard as you can
									<br>
									Do 30 cardiac compressions for each 2 mouth-to-mouth ventilations

								</p>
								<p>
									this video explain everything we just said
									<br>
									CPR
								</p>
							</div>
						</center>
					</div>
					<div class= "box22">
						<center>

							<iframe width="560" height="315" src="https://www.youtube.com/embed/CuUXdQI5LLs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</center>
						<br>

					</div>


					<div class="ner">
						<button type="button" class="btn btn-outline-info"onclick="window.location.href='injection.html'">>basic lab skills</button>
					</div>
					<div class="nel">
						<button type="button" class="btn btn-outline-info"onclick="window.location.href='injection.html'">>injection</button>
					</div>
				</div>
			</div>
		</body>