 <!DOCTYPE html>
 <html>
 <head>
 	<tittle>Injection</tittle>
 	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 	<%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %>
 	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 	<%= csrf_meta_tags %>
 	<style>
 </style>
</head>
<body class="blsbody">
	<div class ="titin ">
		<p>
			<h1 style=" font-size: 100px;">Injection</h1>
		</p>
	</div>

	<div class="steps">
		<div class="boxes">
			<div class= "box1">
				<center> <div>
					<%= image_tag("3.1.jpg", :alt => "injection") %>
					<br>
					there are 2 types of injection
					Intramuscular or subcutaneous
					<br>
					first we have to inform the patient of
					<br>
					<%= image_tag("3.2.jpg", :alt => "injection") %>
					<br>
					<%= image_tag("3.3.jpg", :alt => "injection") %>
					<br>
					the spot you wil inject him in
					<br>
					after that you have to flick the
					<br>
					syringe so that we get rid of the air in it
					<br>
					<%= image_tag("3.4.jpg", :alt => "injection") %>
					<br>
					but watch out !! so that you don't lose
					<br> big amount of the medicine
					<br> in all the cases of injection we will
					<br>
					take a piece of cotton with alchol within it
					<br>
					and rub the spot of injection with it softly
					<br>
					<h1>1) Intramuscular Injection</h1>
					it has 3 spots
					<br>a) Upper outer thigh in the quadriceps muscle
					<br>b) Upper outer quadrant in the gluteus maximus
					<br>c) Deltoid muscle
					<br>its used in inoculations in the case of deltoid
					<br>
					we hold the skin firmly to make sure that needle
					<br>
					penterate the muscle
					<br>
					<%= image_tag("3.5.jpg", :alt => "injection") %>
					<br>
					and we pentrate the needle verticaly
					<br>
					<h1>watch out we have some precautions</h1>
					<br>
					-don't let the whole needle inside the patient
					<br>
					so that we can we it out in case that it
					<br>
					is broken
					<br>
					-before empting the syringe try to pull cause you
					<br>
					have hit a vein...if there was no blood then
					<br>
					you are really inside a muscle
					<br>
					if there was blood in the syringe then you are
					<br>
					inside a vein
					<br>
					so take out the syringe carfully and replace it
					<br> and start from the begining after
					changing the the spot of hitting
					<br>
					this is a cool video that explain the operation
					<br>
				</p>
			</div>
		</center>
	</div>
	<center>
		<div class="box2">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/Spoz3T5D_SU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

		</div></center>
		<center>
			<div class="box1">
				<%= image_tag("3.6.jpg", :alt => "injection") %>
				<br>
				<br>
				<%= image_tag("3.7.jpg", :alt => "injection") %>
				<br>
				<br>
				<h1> 2)Subcutaneous Injection</h1>
				<p>
					<br>
					<br>
					<%= image_tag("3.8.jpg", :alt => "injection") %>
					<br>
					exact the same as previous but we change
					<br>
					a little thing
					<br>
					we insert the needle by 44 degree then we
					<br>
					let the air out
					<br>
				</p>
			</div>
			<div class="box2">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/RytmIl-scWs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div>
			<div class="box1">

				<br>
				after injection we rub the spot of injection with
				<br>
				a piece of cotton
				<br>
				<br>
				<%= image_tag("3.10.jpg", :alt => "injection") %>
				<br>
				<br>
			</p>
		</div>
	</center>
	<br>
	<br>
	<br>
	<br>
	<div class=" nel">
		<button type="button" class="btn btn-outline-info"onclick="window.location.href='basic%20lab%skills.html'">>basic lab skills</button>
	</div>
	<div class="ner">
		<button type="button" class="btn btn-outline-info"onclick="window.location.href='basic%20life%20support.html'">>basic life support</button>

	</div>

</div>
</div>
<br>
<br>
</body>
</html>